@import url(./style.css);

* {
    color: var(--font-color);
}

main {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 150px;
}

main div {
    width: 99%;

    margin: 20px auto;
    border-radius: 25px;
    border: 3px solid var(--comp-color1);
}

form {
    flex-basis: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

textarea {
    display: block;
    flex-basis: 100%;
    margin: auto;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid var(--font-color);
}


input {
    flex-basis: 100%;
    background-color: black;
    padding: 10px;
    margin: 10px auto;
    border-radius: 25px;
    border: 1px solid var(--font-color);
}

button {
    flex-basis: 45%;
    background-color: rgba(172, 255, 47, 0.5);
    border: 1px solid var(--font-color);
    padding: 10px 20px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
}

.cancel {
    background-color: var(--comp-color1);
}

#delete {
    flex-basis: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    width: 100%;
}

