@import url(./style.css);

main {
    width: 70%;
    margin: auto;
}

.hidden {
    visibility: hidden;
    display: none;
}

#rating {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

#rating form {
    flex-basis: 20%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--gray);
    border-radius: 10px;
}

#rating form input,
#rating form textarea {
    flex-basis: 100%;
    padding: 5px;
    margin: 20px;
    background-color: var(--gray);
    color: var(--font-color);
    border-radius: 5px;
}

section {
    margin: 20px 0px;
    border-radius: 25px;
    border: 1px solid var(--gray);
    box-shadow: inset 0px 0px 50px var(--gray);
    padding: 25px;
}

#content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

#content img {
    grid-column: 1;
    grid-row: 1 / span 5;
    border-radius: 10px;
}

#content h1,
#content p {
    grid-column: 2;
}

#content div {
    display: flex;
    flex-direction: row;
}

#content div p {
    padding-right: 20px;
}

#userRating:hover {
    cursor: pointer;
    text-decoration: underline solid var(--font-color);
}

h1 {
    font-size: 32px;
}

#watch {
    display: flex;
    flex-wrap: wrap;
}

#watch h2 {
    flex-basis: 100%;
    font-size: 24px;
}

#watch div {
    padding: 10px;
    margin: 10px;
    width: 30%;
    float: left;
}

#watch h3 {
    font-size: 20px;
}

#watch p {
    padding: 5px 0px;
}