@import url(./style.css);

.hidden {
    display: none;
}

#tabs {
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-around;
}

#tabs span {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 11px;
    border-bottom: 7px solid var(--comp-color1);
}

#tabs span:hover {
    border-bottom: 7px solid var(--font-color);
    color: var(--comp-color3);
    transition: 0.5s;
    opacity: 75%;
}

#tabs span.selected {
    border-bottom: 7px solid var(--comp-color2);
    background-color: var(--comp-color1);
}

main {
    margin: 50px;
    margin-bottom: 150px;
    align-items: center;
}

.not-imp {
    margin: auto;
    text-align: center;
    box-shadow: inset 0px 0px 10px var(--comp-color2);
}

.not-imp p {
    font-size: 25px;
    text-shadow: 0px 0px 3px var(--comp-color3);
}